html {
  height: 100%;
  width: 100%;
}

body{
  background-color: #b3d4ff;
}

ul{
  border: solid;
  border-inline-width: 10px;
  border-inline-style: solid;
  inline-size: 250px;
  }
hr{
  border: dotted;
}
