h2 
{
  text-align: center;
}

p
{
  height="400";
  width="600";
}

h4
{
  text-decoration: underline;
  text-align: center;
  font-weight: bold;
}

table
{
  background-color: #FFFFFF;
  color: #00008B;
  text-align: center;
}